name: Generate Pair Code

on:
  workflow_dispatch:

jobs:
  pair:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Generate Pair Code
        run: node gen-pair.js
