name: pair

on:
  workflow_dispatch:

jobs:
  pair:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install @whiskeysockets/baileys

      - name: Run pair code generator
        run: node gen-pair.js
